img
{
    position: absolute;
    height: 200px;
    width: 250px;
    bottom: 0px;
    left: 40%;
    right: 40%;
    animation-duration: 5s;
    animation-name: anim1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anim1
{
    0%
    {
        left: 45%;
        bottom: 50px;
    }
    25%
    {
        bottom: 55%;
        left: 0px;
        transform: rotate(180deg);
    }
    50%
    {
        bottom: 75%;
        left: 45%;
    }
    75%
    {
        bottom: 55%;
        left: 78%;
    }
    100%
    {
        left: 45%;
        bottom: 50px;
    }
}